<!-- The Top Bar -->

<header id="topbar-wrapper" aria-label="Top Bar">
    <div
      id="topbar"
      class="d-flex align-items-center justify-content-between px-lg-3 h-100"
    >

      <!-- endof #breadcrumb -->
  
      <button type="button" id="sidebar-trigger" class="btn btn-link">
        <i class="fas fa-bars fa-fw"></i>
      </button>
  
      <div id="topbar-title">
        {% if page.layout == 'home' %}
          {{- site.data.locales[include.lang].title | default: site.title -}}
        {% elsif page.collection == 'tabs' or page.layout == 'page' %}
          {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
          {{- site.data.locales[include.lang].tabs[tab_key] | default: page.title -}}
        {% else %}
          {{- site.data.locales[include.lang].layout[page.layout] | default: page.layout | capitalize -}}
        {% endif %}
      </div>
    </div>
  </header>