---
layout: page
---

{% assign df_strftime_m = site.data.locales[site.lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[site.lang].df.archives.dayjs | default: '/ MM' %}

{% assign HEAD_PREFIX = "h_" %}
{% assign LIST_PREFIX = "l_" %}
{% assign CHRONOLOGY_PREFIX = "c_" %}

{% assign group_index = 0 %}

{% assign sort_categories = site.categories | sort %}

<!-- Conf -->

{% for category in sort_categories %}
{% assign category_name = category | first %}
{% assign posts_of_category = category | last %}
{% assign cur_year = 0 %}
{% assign last_year = 0 %}
{% if category_name == "conferences" %}
<!-- Nom de la catégorie -->
<div id="{{ HEAD_PREFIX }}{{ group_index }}">
  {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
  <p id="publication_title">{{ category_name | capitalize }}</p>

  <!-- La chronologie -->
  <div id="publications" class="pl-xl-3">

    <!-- Pour tous les postes de cette catégorie -->
    {% for post in posts_of_category %}
    {% capture cur_year %}{{ post.date | date: "%Y" }}{% endcapture %}

    {% if cur_year != last_year %}
    {% unless forloop.first %}
    </ul>{% endunless %}
    <div class="year lead">{{ cur_year }}</div>
    <ul class="list-unstyled">
      {% assign last_year = cur_year %}
      {% endif %}

      <li>
        <p>
          <a href="{{ site.url }}{{ site.baseurl }}/assets/pdf/{{ post.attachment }}" target="_blank">{{ post.title }}</a><br/>
          &nbsp; {{ post.author }}.<br/>
          &nbsp; In: <i>{{ post.conf }}</i>.<br/>
          <!-- &nbsp; Publisher: {{ post.publisher }}.<br/> -->
          &nbsp;&nbsp;&nbsp; <a href="{{ site.url }}{{ site.baseurl }}/assets/bibtex/{{ post.bibtex }}" target="_blank">BibTex</a> | &nbsp;  <a href="{{ post.doi }}" target="_blank">DOI</a>
        </p>
      </li>

      {% if forloop.last %}
    </ul>
    {% endif %}
    {% endfor %}

  </div> <!-- .chronologie -->
</div>
{% assign group_index = group_index | plus: 1 %}
{% endif %}
{% endfor %}

<br/>
<!-- Talk -->

{% for category in sort_categories %}
{% assign category_name = category | first %}
{% assign posts_of_category = category | last %}
{% assign cur_year = 0 %}
{% assign last_year = 0 %}
{% if category_name == "talks" %}
<!-- Nom de la catégorie -->
<div id="{{ HEAD_PREFIX }}{{ group_index }}">
  {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
  <p id="publication_title">{{ category_name | capitalize }}</p>

  <!-- La chronologie -->
  <div id="publications" class="pl-xl-3">

    <!-- Pour tous les postes de cette catégorie -->
    {% for post in posts_of_category %}
    {% capture cur_year %}{{ post.date | date: "%Y" }}{% endcapture %}

    {% if cur_year != last_year %}
    {% unless forloop.first %}
    </ul>{% endunless %}
    <div class="year lead">{{ cur_year }}</div>
    <ul class="list-unstyled">
      {% assign last_year = cur_year %}
      {% endif %}

      <li>
        {% assign ts = post.date | date: '%s' %}
        <p>
          <a href="{{ site.url }}{{ site.baseurl }}/assets/pdf/{{ post.attachment }}" target="_blank">{{ post.title }}</a><br/>
          &nbsp; In: <i>{{ post.subtitle }}</i>.
        </p>
      </li>

      {% if forloop.last %}
    </ul>
    {% endif %}
    {% endfor %}

  </div> <!-- .chronologie -->
</div>
{% assign group_index = group_index | plus: 1 %}

{% endif %}
{% endfor %}

<br/>

<!-- Awards -->

{% for category in sort_categories %}
{% assign category_name = category | first %}
{% assign posts_of_category = category | last %}
{% assign cur_year = 0 %}
{% assign last_year = 0 %}

{% if category_name == "awards" %}
<!-- Nom de la catégorie -->
<div id="{{ HEAD_PREFIX }}{{ group_index }}">
  {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
  <p id="publication_title">{{ category_name | capitalize }}</p>

  <!-- La chronologie -->
  <div id="publications" class="pl-xl-3">

    <!-- Pour tous les postes de cette catégorie -->
    {% for post in posts_of_category %}
    {% capture cur_year %}{{ post.date | date: "%Y" }}{% endcapture %}

    {% if cur_year != last_year %}
    {% unless forloop.first %}
    </ul>{% endunless %}
    <div class="year lead">{{ cur_year }}</div>
    <ul class="list-unstyled">
      {% assign last_year = cur_year %}
      {% endif %}

      <li>
        {% assign ts = post.date | date: '%s' %}
        <p>{{ post.title }}<br>
          &nbsp; In: <i>{{ post.subtitle }}</i>.</p>
      </li>

      {% if forloop.last %}
    </ul>
    {% endif %}
    {% endfor %}

  </div> <!-- .chronologie -->
</div>
{% assign group_index = group_index | plus: 1 %}

{% endif %}
{% endfor %}


<!-- Thesis -->
{% for category in sort_categories %}
{% assign category_name = category | first %}
{% assign posts_of_category = category | last %}
{% assign cur_year = 0 %}
{% assign last_year = 0 %}

{% if category_name == "thesis" %}
<!-- Nom de la catégorie -->
<div id="{{ HEAD_PREFIX }}{{ group_index }}">
  {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
  <p id="publication_title">{{ category_name | capitalize }}</p>

  <!-- La chronologie -->
  <div id="publications" class="pl-xl-3">

    <!-- Pour tous les postes de cette catégorie -->
    {% for post in posts_of_category %}
    {% capture cur_year %}{{ post.date | date: "%Y" }}{% endcapture %}

    {% if cur_year != last_year %}
    {% unless forloop.first %}
    </ul>{% endunless %}
    <div class="year lead">{{ cur_year }}</div>
    <ul class="list-unstyled">
      {% assign last_year = cur_year %}
      {% endif %}

      <li>
        <p>
        <a href="{{ site.url }}{{ site.baseurl }}/assets/pdf/{{ post.attachment }}" target="_blank">{% assign ts = post.date | date: '%s' %}
      {{post.title }}</a><br>
      &nbsp; <i>{{ post.subtitle }}</i>.
        </p>
      </li>

      {% if forloop.last %}
    </ul>
    {% endif %}
    {% endfor %}

  </div> <!-- .chronologie -->
</div>
{% assign group_index = group_index | plus: 1 %}

{% endif %}
{% endfor %}